@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/unbounded-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url("/assets/fonts/roboto-variable.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/fonts/roboto-mono-variable.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("/assets/fonts/merriweather-variable.ttf") format("truetype");
}

:root {
  --rh-typography-font-family-sans: "Roboto", Inter, ui-sans-serif, system-ui, sans-serif;
  --rh-typography-font-family-mono: "Roboto Mono", ui-monospace, monospace;
  --rh-typography-font-family-display: "Unbounded", ui-sans-serif, sans-serif;
}

.rh-typography-h1 {
  font-family: var(--rh-typography-font-family-display);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
}

.rh-typography-h2 {
  font-family: var(--rh-typography-font-family-display);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
}

.rh-typography-h3 {
  font-family: var(--rh-typography-font-family-display);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.rh-typography-h3 { font-weight: 700; }

.rh-typography-h4 {
  font-family: var(--rh-typography-font-family-display);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
}

.rh-typography-b1,
.rh-typography-b1-med {
  font-family: var(--rh-typography-font-family-sans);
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.rh-typography-b1 { font-weight: 400; }
.rh-typography-b1-med { font-weight: 480; }

.rh-typography-b2,
.rh-typography-b2-med {
  font-family: var(--rh-typography-font-family-sans);
  font-size: 14px;
  letter-spacing: 0.17px;
  line-height: 20px;
}

.rh-typography-b2 { font-weight: 400; }
.rh-typography-b2-med { font-weight: 480; }

.rh-typography-b1-mono,
.rh-typography-b1-mono-med {
  font-family: var(--rh-typography-font-family-mono);
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.rh-typography-b1-mono { font-weight: 400; }
.rh-typography-b1-mono-med { font-weight: 480; }

.rh-typography-b2-mono,
.rh-typography-b2-mono-med {
  font-family: var(--rh-typography-font-family-mono);
  font-size: 14px;
  letter-spacing: 0.17px;
  line-height: 20px;
}

.rh-typography-b2-mono { font-weight: 400; }
.rh-typography-b2-mono-med { font-weight: 480; }
